# PEER GRADED ASSIGNMENTS

# INTRODUCTION ABOUT DATA SCIENCE

Data Science is the study of data to extract meaningful insights for business. It is a multidisciplinary approach that combines principles and practices from the fields of mathematics, statistics, artificial intelligence and computer engineering to analyze large amounts of data

# DATA SCIENCE LANGUAGES 

The three popular languages in Data Science are:

1. Python 
2. R programming 
3. SQL

# DATA SCIENCE LIBRARIES 

1. TensorFlow
2. Numpy
3. Scipy
4. Pandas
5. Matplotlib
6. Keras
7. Scikit-learn
8. PyTorch
9. Scrapy

# DATA SCIENCE TOOLS

1. Apache Spark
2. BigML
3. D3
4. MATLAB
5. Watson Studio
6. R Studio

# ARITHEMATIC EXPRESSION

In [14]:
a=2
b=3
print(a+b)

5

In [15]:
# Code to add and multiply two integers

a = 20
b = 30

print(a+b)
print(a*b)

50
600

In [16]:
# Code to convert Minutes into hours

Minutes = 60
hours = minutes/60

print(hours, "Hour")

1.0 Hour

# OBJECTIVES

This is a markdown cell to list the objectives

1. Data Analysis
2. Methods
3. Porcessing
4. Results

# AUTHOR'S NAME

This is a markdown cell to list the Author's name

1. Steve
2. Pearson
3. Agrawal